[build]
  command = "npm install && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "https://wantasmoothie.com/*"
  to = "https://www.wantasmoothie.com/:splat"
  status = 301
  force = true

[build.environment]
  NODE_VERSION = "18"
